// popup
.popup {
   display: none;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 99999;
   width: 100vw;
   height: 100%;
   min-height: 100%;
   overflow-y: auto;
   &__body {
      background: rgba(0, 0, 0, 0.29);
      width: 100%;
      min-height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
   }
   &__content {
      margin: 20px 50px;
      max-width: 887px;
      width: 100%;
      background: #fff;
      position: relative;
      overflow: hidden;
      border-radius: 8px;
      box-shadow: 10px 5px 84px rgba(100, 100, 100, 0.25);
   }
   .popup-close {
      position: absolute;
      top: 43px;
      right: 49px;
      cursor: pointer;
      font-size: 30px;
      z-index: 20;
   }
   &__bg {
      z-index: 10;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      img {
         object-fit: cover;
      }
   }
}
.popup-details {
   // display: block;
   &__content {
      padding: 100px 165px 100px 60px;
      max-height: 663px;
      overflow-y: auto;
      position: relative;
      z-index: 15;
   }

   &__wrapper {
   }

   &__p {
      &:not(:last-child) {
         margin-bottom: 30px;
      }
      word-wrap: break-word;
   }

   &__p-extrabold {
      font-weight: 800;
   }

   &__red {
      color: $colorRed;
   }

   &__list {
      &:not(:last-child) {
         margin-bottom: 30px;
      }
   }

   &__list-item {
      position: relative;
      word-wrap: break-word;
      padding-left: 30px;
      &:not(:last-child) {
         margin-bottom: 30px;
      }
      &::before {
         content: "";
         position: absolute;
         top: 12px;
         left: 13px;
         width: 4px;
         height: 4px;
         border-radius: 50%;
         background: $color1;
      }
   }

   &__p-semibold {
      font-weight: 600;
   }

   &__link {
      color: #0090ce;
      &:hover {
         text-decoration-line: underline;
      }
   }
   &__important {
      padding: 50px 45px 50px 35px;
      margin-right: -90px;
      background: #fff5f6;
   }
   &__container {
      display: flex;
      width: 100%;
   }
   &__leftside {
      flex: 0 1 50%;
      width: 50%;
      padding-right: 62px;
      // max-width: 454px;
   }
   &__rightside {
      flex: 0 1 50%;
      width: 50%;
      padding-left: 64px;
      // max-width: 457px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      position: relative;
      &::before {
         content: "";
         position: absolute;
         top: 0;
         bottom: 0;
         left: 0;
         height: 100%;
         background: linear-gradient(180deg, #ff4b55 57.29%, rgba(255, 71, 81, 0.2) 100%);
         border-radius: 2.5px;
         width: 1px;
      }
   }
}
.popup-read-more {
   // display: block;
   .popup-details__red {
      min-height: 140px;
   }
   .popup-details__content {
      padding-right: 60px;
      max-height: 772px;
   }
   .popup__content {
      max-width: 1161px;
   }
   .popup-details__list-item {
      font-weight: 500;
      padding-top: 11px;
      padding-bottom: 11px;
      &:not(:last-child) {
         margin-bottom: unset;
         border-bottom: 1px solid #d7d7d7;
      }
      &::before {
         top: 20px;
      }
   }
   .popup-details__leftside .popup-details__list-item:nth-child(even) {
      background: linear-gradient(
         269.92deg,
         rgba(249, 249, 249, 0) 0.73%,
         rgba(249, 249, 249, 0.5) 14.96%,
         rgba(249, 249, 249, 0.5) 44.37%,
         rgba(249, 249, 249, 0.5) 87.13%,
         rgba(249, 249, 249, 0) 98.31%
      );
   }
   .popup-details__rightside .popup-details__list-item:nth-child(odd) {
      background: linear-gradient(
         269.92deg,
         rgba(249, 249, 249, 0) 0.73%,
         rgba(249, 249, 249, 0.5) 14.96%,
         rgba(249, 249, 249, 0.5) 44.37%,
         rgba(249, 249, 249, 0.5) 87.13%,
         rgba(249, 249, 249, 0) 98.31%
      );
   }
}
.popup-country {
   // display: block;
   &__content {
      padding: 140px 50px 40px 60px;
   }

   &__head {
      display: flex;
      align-items: center;
      margin-bottom: 80px;
      overflow: hidden;
   }

   &__flag {
      width: 152px;
      height: 101px;
      @extend %imgCover;
      margin-right: 48px;
      flex: none;
   }

   &__name {
      background: $colorRed;
      font-family: "Montserrat Alternates";
      font-weight: 800;
      font-size: 33px;
      line-height: 195%;
      padding: 3px 58px;
      color: $white;
   }

   &__visa {
      display: flex;
      margin-bottom: 60px;
   }

   &__visa-img {
      width: 84px;
      height: 103px;
      @extend %imgContain;
      margin-right: 30px;
      flex: none;
   }

   &__visa-text {
      max-width: 455px;
      margin-top: 17px;
   }

   &__visa-title {
      font-weight: bold;
      margin-bottom: 15px;
   }

   &__visa-descr {
      font-weight: 500;
   }

   &__container {
      margin-bottom: 70px;
   }

   &__dropdown {
      &:not(:last-child) {
         margin-bottom: 30px;
      }
      &.open {
         .popup-country__dropdown-head .icon-triangle-down {
            transform: rotate(-180deg);
         }
      }
   }

   &__dropdown-head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: bold;
      .icon {
         font-size: 19px;
         color: $colorRed;
         margin-left: 10px;
         transition: ease 0.4s;
      }
   }

   &__dropdown-body {
      // margin-top: 20px;
      padding-top: 20px;
      display: none;
   }

   &__p {
      font-weight: 500;
      &:not(:last-child) {
         margin-bottom: 17px;
      }
   }

   &__p-underline {
      text-decoration-line: underline;
   }

   &__update {
      font-weight: bold;
      color: $colorRed;
   }
}
.card-info {
   padding-left: 40px;
   width: 50%;
   display: flex;
   align-items: center;
   margin-bottom: 50px;
   &:nth-child(3) {
      .card-info__img img {
         max-height: 52px;
      }
   }
   &:nth-child(4) {
      .card-info__img img {
         margin-right: -10px;
      }
   }
   &__wrapper {
      margin-top: 20px;
      margin-bottom: -20px;
      display: flex;
      flex-wrap: wrap;
   }
   &__img {
      flex: none;
      margin-right: 27px;
      height: 58px;
      width: 63px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
   }

   &__text-block {
      max-width: 237px;
   }

   &__title {
      font-weight: bold;
      margin-bottom: 8px;
   }

   &__descr {
      font-weight: 500;
   }
}
