$color1: #242424;
$white: #ffffff;
$colorRed: #ff4b55;
$colorGray1: #b3b3b3;
$colorGray2: #e3e3e3;
$colorGray3: #f9f9f9;

.h1 {
   font-family: "Montserrat Alternates";
   font-weight: 800;
   font-size: 50px;
   line-height: 130%;
}
.h2 {
   font-size: 24px;
   line-height: 130%;
}
.h3 {
   font-size: 20px;
   line-height: 135%;
}
