$icomoon-font-family: "icon" !default;
$icomoon-font-path: "fonts" !default;

$icon-mail: "\e90e";
$icon-calendar: "\e900";
$icon-check: "\e901";
$icon-close: "\e902";
$icon-facebook: "\e903";
$icon-info: "\e904";
$icon-instagram: "\e905";
$icon-minus: "\e906";
$icon-phone: "\e907";
$icon-plus: "\e908";
$icon-search: "\e909";
$icon-telegram: "\e90a";
$icon-telegram-blank: "\e90b";
$icon-triangle-down: "\e90c";
$icon-youtube: "\e90d";

